.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  color: #e6b871;
  transition: .3s;
}

.title {
  margin: 10px 20px;
  font-family: "Courier New";
}

.githubIcon {
  margin-left: 20px;
  cursor: pointer;
}

.main {
  width: 90vw;
  padding-top: 60px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}
